@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  @font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("/fonts/Futura_Bold_font.woff2") format("woff2");
  }
}

@layer components {
  .h2-style {
    @apply font-futura text-5xl font-bold uppercase;
  }
  .p-style {
    @apply font-inter text-xl font-normal;
  }
  .h4-style {
    @apply font-inter font-bold text-4xl leading-10;
  }
  .li-style {
    @apply py-3 drop-shadow-md bg-[#FFFAFB] p-style uppercase pl-4;
  }
  .ul-style {
    @apply flex flex-col gap-4 border-l-2 w-[95%] children:li-style;
  }
  .work-section-div {
    @apply w-[100%] h-[10px];
  }
  .li-before {
    @apply absolute w-[100%] h-[7px] bottom-0 left-0 translate-y-1 bg-r-dark;
  }
  .input-form {
    @apply py-5 p-style placeholder:p-style placeholder:text-r-dark pl-7 outline-none border-2 border-r-dark bg-transparent;
  }
  .button-up {
    @apply outline-none drop-shadow-2xl fixed top-[100%] right-44 border-[3px] z-50 !p-0 w-[73px] h-[73px] border-r-dark bg-r-white flex justify-center items-center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
